<a href="https://colab.research.google.com/github/shreee18shaila2000/Python-workshop/blob/master/Day1_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1 Write a program to print the triangle i/p 4

1 2 3 3 4 5 4 5 6 7

In [1]:
n=4;
for i in range(5):
  k=i
  for j in range(k):
      print (k, end=" ")
      k=k+1
  print('')

1
2 3
3 4 5
4 5 6 7


2)Program to print the pattern *

*

In [2]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

3)Program to print the pattern 5 4 5 3 4 5 2 3 4 5 1 2 3 4 5

In [3]:
n=5;
for i in range(n,0,-1):
  for j in range(i,n+1):
      print (j, end=' ')
  print('')

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

4)Program to print the following pattern 5 4 3 2 1 4 3 2 1 3 2 1 2 1 1

In [4]:
n=5
for i in range(0,n+1):
  for j in range(n-i,0,-1):
      print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)