<a href="https://colab.research.google.com/github/shreee18shaila2000/Python-workshop/blob/master/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter number of elements:2
Enter element:10
Enter element:0
Largest element is: 10
Enter no10
10
0
30
100
45
00
56230
210
566
63
The greatest no is 56230

In [2]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('even list is',[ i for i in l if i%2])
print('odd list is',[i for i in l if not i%2])

Enter number of elements:2
Enter element:10
Enter element:20
The even list [10, 20]
The odd list []
Enter n3
10
20
30
even list is []
odd list is [10, 20, 30]

In [7]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)
x=0
l=[int(input(x))
for _ in range(int(input("Enter how many elements")))]
m=[int(input(x))
for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter number of elements:1
Enter element:0
Enter number of elements:1
Enter element:10
Sorted list is: [0, 10]
Enter how many elements2
0
0
Enter how many elements 2
11
20
Sorted list is: [0, 0, 11, 20]

In [8]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1]) 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]
[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [10]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])
#Instead of  forementioned 12 lines program, the equivalent 4 lines ! 
#Pythonic program is here ....

x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter number of elements:2
Enter element:10
Enter element:20
Second largest number is: 10
Enter how many elements2
100
200
Second largest element is : 100

In [12]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)
#The aforementioned program is already pythonic. 
#We can still make it more pythonic as follows 
 
a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)]
print(a)
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
                           int(input("Enter the upper range:"))+1)])

Enter the lower range:2
Enter the upper range:3
[(2, 4), (3, 9)]
Enter the lower range:1
Enter the upper range:3
[(1, 1), (2, 4), (3, 9)]
Enter the lower range:2
Enter the upper range:1
[]

In [13]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:2
Randomised list is:  [1, 17]

In [14]:
[i for i in range(200) if i % 3 == 0 ]

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198]

In [15]:
[i for i in range(1000,2000) if i % 5 == 0 or i % 7 == 0 ]

[1000,
 1001,
 1005,
 1008,
 1010,
 1015,
 1020,
 1022,
 1025,
 1029,
 1030,
 1035,
 1036,
 1040,
 1043,
 1045,
 1050,
 1055,
 1057,
 1060,
 1064,
 1065,
 1070,
 1071,
 1075,
 1078,
 1080,
 1085,
 1090,
 1092,
 1095,
 1099,
 1100,
 1105,
 1106,
 1110,
 1113,
 1115,
 1120,
 1125,
 1127,
 1130,
 1134,
 1135,
 1140,
 1141,
 1145,
 1148,
 1150,
 1155,
 1160,
 1162,
 1165,
 1169,
 1170,
 1175,
 1176,
 1180,
 1183,
 1185,
 1190,
 1195,
 1197,
 1200,
 1204,
 1205,
 1210,
 1211,
 1215,
 1218,
 1220,
 1225,
 1230,
 1232,
 1235,
 1239,
 1240,
 1245,
 1246,
 1250,
 1253,
 1255,
 1260,
 1265,
 1267,
 1270,
 1274,
 1275,
 1280,
 1281,
 1285,
 1288,
 1290,
 1295,
 1300,
 1302,
 1305,
 1309,
 1310,
 1315,
 1316,
 1320,
 1323,
 1325,
 1330,
 1335,
 1337,
 1340,
 1344,
 1345,
 1350,
 1351,
 1355,
 1358,
 1360,
 1365,
 1370,
 1372,
 1375,
 1379,
 1380,
 1385,
 1386,
 1390,
 1393,
 1395,
 1400,
 1405,
 1407,
 1410,
 1414,
 1415,
 1420,
 1421,
 1425,
 1428,
 1430,
 1435,
 1440,
 1442,
 1445,
 1449,
 1450,
 1455,
 1456,
 1460,
 1463,
 1465,
 1470,
 1475,
 1477,
 1480,
 1484,
 1485,
 1490,
 1491,
 1495,
 1498,
 1500,
 1505,
 1510,
 1512,
 1515,
 1519,
 1520,
 1525,
 1526,
 1530,
 1533,
 1535,
 1540,
 1545,
 1547,
 1550,
 1554,
 1555,
 1560,
 1561,
 1565,
 1568,
 1570,
 1575,
 1580,
 1582,
 1585,
 1589,
 1590,
 1595,
 1596,
 1600,
 1603,
 1605,
 1610,
 1615,
 1617,
 1620,
 1624,
 1625,
 1630,
 1631,
 1635,
 1638,
 1640,
 1645,
 1650,
 1652,
 1655,
 1659,
 1660,
 1665,
 1666,
 1670,
 1673,
 1675,
 1680,
 1685,
 1687,
 1690,
 1694,
 1695,
 1700,
 1701,
 1705,
 1708,
 1710,
 1715,
 1720,
 1722,
 1725,
 1729,
 1730,
 1735,
 1736,
 1740,
 1743,
 1745,
 1750,
 1755,
 1757,
 1760,
 1764,
 1765,
 1770,
 1771,
 1775,
 1778,
 1780,
 1785,
 1790,
 1792,
 1795,
 1799,
 1800,
 1805,
 1806,
 1810,
 1813,
 1815,
 1820,
 1825,
 1827,
 1830,
 1834,
 1835,
 1840,
 1841,
 1845,
 1848,
 1850,
 1855,
 1860,
 1862,
 1865,
 1869,
 1870,
 1875,
 1876,
 1880,
 1883,
 1885,
 1890,
 1895,
 1897,
 1900,
 1904,
 1905,
 1910,
 1911,
 1915,
 1918,
 1920,
 1925,
 1930,
 1932,
 1935,
 1939,
 1940,
 1945,
 1946,
 1950,
 1953,
 1955,
 1960,
 1965,
 1967,
 1970,
 1974,
 1975,
 1980,
 1981,
 1985,
 1988,
 1990,
 1995]