<a href="https://colab.research.google.com/github/shreee18shaila2000/Python-workshop/blob/master/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')

Number of Students : 2
Name : shailashree
 Rol No : 4AL18CS077
Name : sujaya
 Rol No : 4AL18CS090
Original : [('shailashree', '4AL18CS077'), ('sujaya', '4AL18CS090')]
According to Name : Ascending :[('shailashree', '4AL18CS077'), ('sujaya', '4AL18CS090')]

In [5]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')


l.sort(key = lambda x:x[0])
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 3
Name : riya
 Rol No : 22
Name : revenna
 Rol No : 22
Name : shree
 Rol No : 21
Original : [('riya', '22'), ('revenna', '22'), ('shree', '21')]
According to Name : Descending :[('shree', '21'), ('riya', '22'), ('revenna', '22')]

In [6]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[1])
print(f'According to Rol No : Descending :{l[::-1]}')

Number of Students : 2
Name : siya
 Rol No : 1810
Name : neha
 Rol No : 1811
Original : [('siya', '1810'), ('neha', '1811')]
According to Rol No : Descending :[('neha', '1811'), ('siya', '1810')]

In [7]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')

Number of Students : 4
Name : tara
 Rol No : 4001
Name : maya
 Rol No : 4008
Name : kaya
 Rol No : 4005
Name : chaya
 Rol No : 4003
Original : [('tara', '4001'), ('maya', '4008'), ('kaya', '4005'), ('chaya', '4003')]
According to Rol No : Ascending :[('tara', '4001'), ('chaya', '4003'), ('kaya', '4005'), ('maya', '4008')]